body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background{
  display: flex;
  position: absolute;
  opacity: 0.075;
  overflow: hidden;
  background-image: url("./images/Subscrypto_coin_cropped.png");
  background-repeat: repeat;
  background-position: bottom right;
  z-index: -10;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.center{
  display:block;
  flex-direction:row ;
  justify-content:center;
  align-items:center;
}

.clickable {
  cursor: pointer;
}

.scroll {
  overflow-y: scroll;
  overflow-x: scroll
}

.subscrypto {
  font-family: Arial;  
  font-style: bold;
  color: rgb(231, 31, 31);
  text-shadow: 1px 1px rgb(238, 99, 99);
}

@import './css/_welcome.css';
@import './css/_about.css';
@import './css/_navbar.css';
