.navbar{
    min-height: 30px;
}

.navbar-nav{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-fixed-bottom{
    position: fixed;
    height: 30px;
}
.navbar-fixed-bottom .navbar-brand{
    position: fixed;
    padding: 12px 12px;
    margin: -9px 0px;
}

.footer-text{
    display: initial;
    position: fixed;
    font-size: 20pt;
    color: rgba(46, 44, 44, 0);
    z-index: 10;
}