
.welcome-wrapper{
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: auto;
    width: 100%;
}

.welcome-header{
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.welcome-title{
    font-family: Arial;  
    font-style: bold;
    letter-spacing: -3px;
    color: rgb(231, 31, 31);
    text-shadow: 3px 3px rgb(238, 99, 99);
    font-size: calc(15pt + 3vw + 3vh);
    padding: 0px 0px;
    margin: 0px 0px;
}

.welcome-text{
    font-family: Arial;  
    font-style: bold;
    letter-spacing: -3px;
    font-size: calc(5pt + 2vw + 2vh);
    padding: 0px 0px;
    margin: 0px 0px;
    z-index: 5;
}

.welcome-text *{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.welcome-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    max-width: 825px;
    max-height: 458px;
    min-height: 229px;
    min-width: 412px;
}

