
.welcome-wrapper{
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.welcome-header * {
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.welcome-title * {
    font-family: Arial; 
    font-weight: bold; 
    letter-spacing: -3px;
    word-spacing: -3px;
    color: red;
    text-shadow: 2px 2px darkred;
}

.title-panel panel{

}

.welcome-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.welcome-title h1{
    font-size: 100px;
}

.welcome-title h2{
    font-size: 80px;
}

.welcome-title h3{
    font-size: 60px;
}